<!-- menu_management/templates/menu_management/home.html -->
{% extends 'menu_management/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Welcome to Ofele, the Catering Menu Management Hub</h1>
    {% if not user.is_authenticated %}
        <a href="{% url 'web:register' %}" class="btn btn-primary m-2">Register</a>
        <a href="{% url 'web:login' %}" class="btn btn-secondary m-2">Login</a>
    {% else %}
        <a href="{% url 'web:menu_list' %}" class="btn btn-primary m-2">View Menus</a>
    {% endif %}
</div>
{% endblock %}
